
.grid-property{
    margin-top: 40px!important;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 60px;
}

.property img{
    width: 100%!important;
}

.property-title{
    font-size: 18px;
    margin-top: 3px;
    margin-bottom: 0px;
}

.price-btn {
    display: flex;
    justify-content: space-between;
   
}
.price-btn button{
    margin-top: 15px;
    background: none;
    border: none;
    color: green;
    text-decoration: underline;
}
select#currency{
    margin-left: 10px;
    border: none;
    background-color: #efefef;
    padding: 3px 6px;
    border-radius: 5px;
}
select#sort{
    margin-left: 10px;
    border: none;
    background-color: #efefef;
    padding: 3px 6px;
    border-radius: 5px;
}
.grid-property .property img{
    object-fit: cover;
    height: 180px;
}
.filter-flex{
    display: flex;
}
@media screen and (max-width: 600px) {
    .grid-property{
        grid-template-columns: 1fr;
        padding-left: 15px;
        padding-right: 15px;
    }
    .propertyList-title{
        padding-left: 15px;
        font-size: 26px;
    }
    select#currency {
        margin-left: 0px;
    }
    select#sold {
        float: right;
    }
    .filter-flex{
        padding-left: 15px;
        padding-right: 15px;
    }
    .sort-label{
        float: right;
    }
}