.container{
    max-width: 1600px;
    margin: 0 auto;
}
.enterUrl{
    float: left;
}
.urlBtn{
    height: 33px;
    border: none;
}
hr{
    margin-top: 13px;
}
input{
    border: none;
    height: 30px;
    width: 500px;
    border: 1px solid lightgray
}
