/* Основной стиль для страницы логина */
.login-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  position: relative;
}

/* Стиль для логотипа */
.logo-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 1; /* Логотип изначально видим */
  transition: transform 1s ease-in-out, opacity 1s ease-in-out; /* Переходы для движения и прозрачности */
  z-index: 9999;
}
.logo-container svg{
  padding-right: 35px;
}

.please{
  color: #4B465C;
}
.logo-container.animate {
  transform: translate(
    -50%,
    calc(-50% - 220px)
  ); /* Двигается вверх на 100 пикселей */
  
}

/* Стиль для формы */
.form-container {

  position: absolute;
  top: 60%;
  left: 50%;
  width: 330px;
  transform: translate(-50%, -70%);
  opacity: 0;
  transition: opacity 0.5s ease-in-out 1s; /* Форма появится через 1 секунду после начала анимации логотипа */
}

.form-container.animate {
  opacity: 1;
}

/* Стиль для формы */
.form {
  padding-top: 20px;
  width: 100%;
  max-width: 400px; /* Задайте максимальную ширину формы */
}

.form-group {
  margin-bottom: 1rem;
}

.form-group label {
  display: block;
  margin-bottom: 0.5rem;
}

.form-group input {
  width: 100%;
  padding: 0.5rem;
  box-sizing: border-box;
  -webkit-box-sizing: border-box; /* Префикс для box-sizing */
  box-shadow: 1px 1px 12px -6px gray;
  -webkit-box-shadow: 1px 1px 12px -6px gray; /* Префикс для box-shadow */
  height: 40px;
  border: none;
  border-radius: 6px;
  -webkit-border-radius: 6px; /* Префикс для border-radius */
}


.auth-btn {
  width: 100%;
  padding: 0.75rem;
  color: #fff;
  border: none;
  cursor: pointer;
  /* Button */


background: #13588B;
/* Light/Gray/Gray - SM */
box-shadow: 0px 2px 4px rgba(165, 163, 174, 0.3);
border-radius: 8px;


}

.auth-btn:hover {
  background-color: #13588B;
}

.main-login__container{
  width: 400px;
    height: 386px;
    margin-top: 52px;
}

/*Property Listing*/
.property-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.property-table th,
.property-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.property-table th {
  background-color: #f2f2f2;
}

.property-table tr:hover {
  background-color: #f5f5f5;
}

.property-table button {
  margin-right: 10px;
  padding: 5px 10px;
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
}

.property-table button:hover {
  background-color: #45a049;
}
@media screen and (max-width: 600px) {
  .auth-btn {
    font-size: 15px;
    font-weight: 600;
  
  
  }
}